*.pyc
*.pyo
*.pickle
*.log
*.conf
.DS_Store
*/.DS_Store
*.swp
dist/
examples/*
*/.ropeproject/*
ank_lab/*
*/ank_lab/*
AutoNetkit/ank_lab/*
AutoNetkit.egg-info/*
AutoNetkit/algorithms/ank_lab/*
AutoNetkit/algorithms/policy*.txt
AutoNetkit/deploy/ank_lab/*
tags
AutoNetkit-*/
doc/build/
.tox/*
*.pdf