*.pyc
*.pyo
*.pickle
*.log
.DS_Store
*/.DS_Store
*.swp
dist/
examples/*
*/.ropeproject/*
ank_lab/*
*/ank_lab/*
build/*
AutoNetkit/ank_lab/*
AutoNetkit.egg-info/*
AutoNetkit/algorithms/ank_lab/*
AutoNetkit/algorithms/policy*.txt
AutoNetkit/deploy/ank_lab/*
tags
AutoNetkit-*/
doc/build/
.tox/*
*.pdf
autonetkit.cfg
library.txt
example.graphml
AutoNetkit/algorithms/output.png
AutoNetkit/lib/examples/topologies/example.graphml

AutoNetkit/compiler/tests/ank_lab/*