include setup.py
include README.txt            
exclude AutoNetkit.egg-info

recursive-include AutoNetkit/lib *.mako                    
recursive-include AutoNetkit/lib *.js
include AutoNetkit/lib/configspec.cfg
include AutoNetkit/lib/shadow

prune examples
                                      
global-exclude *~
global-exclude *.pyc

global-exclude *.sh        

