/* tables */
table.tablesorter {
border: 1px solid black;
border-collapse: collapse;
padding: 4px 7px 4px 7px;
font-size: small;
vertical-align: middle;
width: 80%;
}
table.tablesorter thead tr th, table.tablesorter tfoot tr th {
background-color: #778899;
border: 1px solid black;
border-collapse: collapse;
padding: 4px;
color: white;
font-size: small;
cursor: pointer;
}
table.tablesorter thead tr .header {
background-image: url(bg.gif);
background-repeat: no-repeat;
background-position: center right;
}
table.tablesorter tbody td {
color: black;
padding: 6px;
background-color: #eee;
vertical-align: middle;
border: 1px dotted #778899;
border-collapse: collapse;
width: 10px;
}
table.tablesorter tbody tr.odd td {
background-color: #fff;
}
table.tablesorter thead tr .headerSortUp {
background-image: url(asc.gif);
}
table.tablesorter thead tr .headerSortDown {
background-image: url(desc.gif);
}
table.tablesorter thead tr .headerSortDown, table.tablesorter thead tr .headerSortUp {
background-color: #778899;
}

       
    
#header table {
margin: 0;
padding: 0;
vertical-align: top;
text-align: left;
width: 800px;
border: 2px;
}
      





body {
font-family: verdana,helvetica,arial,sans-serif;
background-color: white;
background-image: url('background.png');
background-repeat: no-repeat;       
background-attachment:fixed;

background-position: 20% 100px;
color: #2f2f2f;          
line-height:140%
}
	               
	               
h1 {
font-size: huge;
text-align: center;
}

h2 {
font-size: medium;
line-height: 200%;
}     

h3 {
font-size: smaller;
line-height: 200%;
}

      

ul {
line-height: 200%;
/*list-style: none;             */
}
 	
ol {
line-height: 200%;
}   
        
	
a {
color: #2f2f2f;
}
 
img {
border-style: none;
}


       
 * {
margin: 0;
padding: 0;
}
                         
  
 html, body {
height: 100%;
}

 #wrap {
min-height: 100%;
}
 
 #header {
padding: 15px 0 15px 15px;
margin-left: 15px;
margin-right: 15px;
border-bottom: 1px solid #778899;
color: #2f2f2f;
max-width: 60%; 
}
 
 #sidebar {
width: 179px;
float: left;
padding: 0 0 0 15px;
border-right: 1px solid #778899;
line-height: 200%;
}
 	#sidebar ul {
list-style: none;
}
 	
  	#main-content {
padding: 0 0 0 15px;
margin-left: 220px;
max-width: 600px;   
font-size:0.95em;
}

 #main {
overflow: auto;
padding-bottom: 100px;
padding-top: 25px;
}
/* must be same height as the footer */

 #footer {
position: relative;
margin-top: -65px; /* negative value of footer height */
 	height: 65px;
margin-left: 235px;
clear: both;
font-size: x-small;
}

